# Yii2 standard ignores
/runtime/*
/web/assets/*
/vendor/*

# Configuration and Secrets
.env
config.yaml
common/config/main-local.php
common/config/params-local.php
backend/config/main-local.php
backend/config/params-local.php
frontend/config/main-local.php
frontend/config/params-local.php
api/config/main-local.php
api/config/params-local.php

# IDEs
.idea/
.vscode/
.idx/
