@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding-top: 4.5rem; 
}

/* Mengubah variabel warna default Bootstrap untuk tema gelap */
[data-bs-theme="dark"] body {
    background-color: #212529;
}

[data-bs-theme="dark"] .card {
    background-color: #2b3035;
    border-color: #444;
}

[data-bs-theme="dark"] .table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: #32383e;
}
